<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588263114139-0ar3729a9ga5788g6ceqqu8uovavsd3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588263114139-0ar3729a9ga5788g6ceqqu8uovavsd3t</string>
	<key>API_KEY</key>
	<string>AIzaSyAwF5vlJNgKfeJEoJHTv7bE_2t0Hc5HB0U</string>
	<key>GCM_SENDER_ID</key>
	<string>588263114139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gs</string>
	<key>PROJECT_ID</key>
	<string>gold-star-4c007</string>
	<key>STORAGE_BUCKET</key>
	<string>gold-star-4c007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588263114139:ios:8cd8831c6f44ede2064d3e</string>
</dict>
</plist>